body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #ffffff;
  background-color: #1A1A1A;
}

a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
}

a:hover,
a:focus {
  color: #8056e2;
  text-decoration: none;
}

a:focus {
  outline: none;
}


p {
  font-size: 18px;
  line-height: 1.72222;
  margin: 0 0 15px;
}


.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.btn:hover,
.btn:focus {
  outline: none;
  color: #ffffff;
}

.btn:active,
.btn.active {
  outline: none;
  box-shadow: none;
}

.btn:focus:active {
  outline: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
  filter: alpha(opacity=70);
  cursor: not-allowed;
}

.btn [class^="fui-"] {
  margin: 0 1px;
  position: relative;
  line-height: 1;
  top: 1px;
}

.navbar {
  font-size: 16px;
  min-height: 53px;
  margin-bottom: 30px;
  border: none;
  border-radius: 0px;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-brand {
  font-size: 22px;
  line-height: 1.042;
  height: 53px;
  font-weight: 700;
  padding: 14px 21px;
}

.navbar-brand>[class*="fui-"] {
  font-size: 19px;
  line-height: 1.263;
  vertical-align: top;
}

@media (min-width: 768px) {

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: -21px;
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 0;
}

.navbar-nav>li>a {
  font-size: 14px;
  padding: 15px 21px;
  line-height: 23px;
  font-weight: 700;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.navbar-nav .open>a:focus,
.navbar-nav .open>a:hover {
  background-color: transparent;
}

.navbar-nav [class^="fui-"] {
  line-height: 20px;
  position: relative;
  top: 1px;
}

.navbar-nav .visible-sm>[class^="fui-"],
.navbar-nav .visible-xs>[class^="fui-"] {
  margin-left: 12px;
}

@media (max-width: 767px) {
  .navbar-nav {
    margin: 0 -21px;
  }

  .navbar-nav .open .dropdown-menu>li>a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 7px 15px 7px 31px !important;
  }

  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 23px;
  }

  .navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}


.dropdown-menu.typeahead {
  display: none;
  width: auto;
  margin-top: 5px;
  border: 2px solid #8056e2;
  padding: 5px 0;
  background-color: #ffffff;
  border-radius: 6px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #55606c;
  background-color: rgba(202, 206, 209, 0.5);
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  color: #ffffff;
  background-color: #8056e2;
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
  color: #bdc3c7;
  background-color: transparent;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }

  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}


@media (min-width: 768px) {
  .navbar-form .input-group {
    width: 195px;
  }
}

@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 7px;
  }

  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }

  .navbar-form .form-group+.btn {
    margin-left: 0;
  }
}

.navbar-nav>li>.dropdown-menu {
  min-width: 100%;
  margin-top: 9px;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .navbar-nav>li.open>.dropdown-menu {
    margin-top: 0 !important;
  }
}

.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navbar-nav>.open>.dropdown-toggle,
.navbar-nav>.open>.dropdown-toggle:focus,
.navbar-nav>.open>.dropdown-toggle:hover {
  background-color: transparent;
}

.navbar-text {
  font-size: 16px;
  line-height: 1.438;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .navbar-text {
    margin-left: 21px;
    margin-right: 21px;
  }

  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}

.navbar-btn {
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar-btn.btn-sm {
  margin-top: 9px;
  margin-bottom: 8px;
}

.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar-unread,
.navbar-new {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background-color: #8056e2;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0;
  font-weight: 700;
  height: 6px;
  line-height: 1;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 35%;
  width: 6px;
  z-index: 10;
}

@media (max-width: 768px) {

  .navbar-unread,
  .navbar-new {
    position: static;
    float: right;
    margin: 0 0 0 10px;
  }
}

.active .navbar-unread,
.active .navbar-new {
  background-color: #ffffff;
  display: none;
}

.navbar-new {
  background-color: #e74c3c;
  font-size: 12px;
  height: 18px;
  line-height: 17px;
  margin: -6px -10px;
  min-width: 18px;
  padding: 0 1px;
  width: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}

.start {
  background-image: url(triangletwo-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedStartNodePurpleAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(41, 4, 24, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(97, 0, 20, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(216, 5, 141, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(178, 67, 255, 0.75);
  }
}

@keyframes visitedStartNodeBlueAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.strikethrough {
  color: rgb(185, 15, 15);
  text-decoration: line-through;
}

.instantshortest-path-up {
  background: url(triangletwo-up.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-up {
  background: url(triangletwo-up.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-down {
  background: url(triangletwo-down.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-down {
  background: url(triangletwo-down.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-right {
  background: url(triangletwo-right.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-right {
  background: url(triangletwo-right.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-left {
  background: url(triangletwo-left.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.shortest-path-left {
  background: url(triangletwo-left.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


.instantStartTransparent {
  opacity: 0.5;
  background-image: url(triangletwo-right.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.startTransparent {
  opacity: 0.5;
  background-image: url(triangletwo-right.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedStartNodeBlue {
  background-image: url(triangletwo-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedStartNodePurple {
  background-image: url(triangletwo-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodePurpleAnimation;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedObjectNode {
  background-image: url(diamond.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedTargetNodeBlue {
  background-image: url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedTargetNodePurple {
  background-image: url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodePurpleAnimation;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

#algorithmDescriptor {
  text-align: center;
  color: #ffffff;
  padding: 15px 25px 15px 25px;
}

#mainText>ul li {
  display: inline-block;
  list-style: none;
  padding: 0 28px 0 0;
}

#actualStartButton {
  background-color: none;
}

#mainGrid {
  position: absolute;
  z-index: 1;
}

#tutorial {
  position: absolute;
  z-index: 3;
  background-color: rgb(0, 0, 0);
  width: 50%;
  height: 70%;
  border: 2px solid #000000;
  border-radius: 4px;
  text-align: center;
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#nextButton {
  color: #ffffff;
  background-color: #8056e2;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

#previousButton {
  color: #ffffff;
  background-color: #8056e2;
  position: absolute;
  right: 12%;
  bottom: 2%;
}

#skipButton {
  color: #ffffff;
  background-color: #8056e2;
  position: absolute;
  left: 2%;
  bottom: 2%;
}

#finishButton {
  color: #ffffff;
  background-color: #8056e2;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

#finishButton:hover,
#nextButton:hover,
#previousButton:hover,
#skipButton:hover {
  background-color: #9E74F1;
}

#tutorialCounter {
  position: absolute;
  right: 2%;
  top: 2%;
}

#mainTutorialImage {
  width: 25%;
  padding-top: 5px;
}

#secondTutorialImage {
  padding-top: 5px;
}

#tutorial>h3 {
  padding-bottom: 5px;
}

#tutorial>h6 {
  padding: 5px 20px 5px 20px;
}

#tutorial>p {
  padding: 5px 20px 5px 20px;
}

#tutorial>ul li {
  list-style: none;
  padding-bottom: 5px;
  padding-right: 40px;
  font-size: 14px;
}

#board {
  border-collapse: collapse;
  position: center
}

#mainText div {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 0.35em;
  margin: 0 0.42em;
}

#board {
  margin-left: 5px;
  margin-right: 5px;
}

#board td {
  border: 1px solid rgb(175, 216, 248);
  width: 25px;
  height: 25px;
}

#startButtonStart {
  padding-left: 20px;
  padding-right: 20px;
}

.instantvisited {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(0, 190, 218, 0.75);
}

.instantvisited.weight {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(0, 190, 218, 0.75);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.visited {
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visited.weight {
  border: 1px solid rgb(175, 216, 248);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgb(139, 142, 241);
  }

  75% {
    transform: scale(1.2);
    background-color: rgb(167, 107, 247);
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(123, 36, 240);
  }
}

.wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(12, 53, 71);
  }
}

.instantvisitedobject {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(178, 67, 255, 0.75);
}

.instantvisitedobject.weight {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(178, 67, 255, 0.75);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.visitedobject {
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedObjectAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedobject.weight {
  border: 1px solid rgb(175, 216, 248);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedObjectAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedObjectAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(41, 4, 24, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(97, 0, 20, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(216, 5, 141, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(178, 67, 255, 0.75);
  }
}

.unvisited {
  border: 1px solid rgb(175, 216, 248);
  background-color: white
}

.borderlessWeight {
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: unvisitedWeightAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.unvisited.weight {
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: unvisitedWeightAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes unvisitedWeightAnimation {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

.unvisited.mud {
  background: brown
}

.current {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgb(164, 253, 76)
}

.object {
  background-image: url(diamond.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantobjectTransparent {
  opacity: 0.5;
  background-image: url(diamond.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.objectTransparent {
  opacity: 0.5;
  background-image: url(diamond.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.target {
  background-image: url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes specialNodes {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

.instantshortest-path {
  background-color: rgb(164, 253, 76);
}

.instantshortest-path.weight {
  background-color: rgb(164, 253, 76);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path {
  background-color: rgb(164, 253, 76);
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.shortest-path.weight {
  background-color: rgb(164, 253, 76);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes triangletwo {
  0% {
    transform: scale(.6);
    background-color: rgb(164, 253, 76);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(164, 253, 76);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(164, 253, 76);
  }
}

.shortest-path-unweighted {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(spaceshiptwo-up.svg);
  background-color: rgb(164, 253, 76);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: #e7e9ec;
}

h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h6 {
  font-weight: normal;
}

h1,
.h1 {
  font-size: 61px;
}

h2,
.h2 {
  font-size: 53px;
}

h3,
.h3 {
  font-size: 40px;
}

h4,
.h4 {
  font-size: 29px;
}

h5,
.h5 {
  font-size: 28px;
}

h6,
.h6 {
  font-size: 24px;
}

.navbar-default {
  background-color: #ecf0f1;
}

.navbar-default .navbar-brand {
  color: #000000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #8056e2;
  background-color: transparent;
}

.navbar-default .navbar-toggle:before {
  color: #000000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover:before,
.navbar-default .navbar-toggle:focus:before {
  color: #8056e2;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e5e9ea;
  border-width: 2px;
}

.navbar-default .navbar-nav>li>a {
  color: #000000;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #8056e2;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #8056e2;
  background-color: transparent;
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.navbar-default .navbar-nav>.active>a .caret {
  border-top-color: #8056e2;
  border-bottom-color: #8056e2;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret,
.navbar-default .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #8056e2;
  border-bottom-color: #8056e2;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: transparent;
  color: #8056e2;
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
  border-top-color: #8056e2;
  border-bottom-color: #8056e2;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #000000;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #8056e2;
    background-color: transparent;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #8056e2;
    background-color: transparent;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-default .navbar-form .form-control,
.navbar-default .navbar-form .select2-search input[type="text"] {
  border-color: transparent;
}

.navbar-default .navbar-form .form-control::-moz-placeholder,
.navbar-default .navbar-form .select2-search input[type="text"]::-moz-placeholder {
  color: #aeb6bf;
  opacity: 1;
}

.navbar-default .navbar-form .form-control:-ms-input-placeholder,
.navbar-default .navbar-form .select2-search input[type="text"]:-ms-input-placeholder {
  color: #aeb6bf;
}

.navbar-default .navbar-form .form-control::-webkit-input-placeholder,
.navbar-default .navbar-form .select2-search input[type="text"]::-webkit-input-placeholder {
  color: #aeb6bf;
}

.navbar-default .navbar-form .form-control:focus,
.navbar-default .navbar-form .select2-search input[type="text"]:focus {
  border-color: #8056e2;
  color: #8056e2;
}

.navbar-default .navbar-form .input-group-btn .btn {
  border-color: transparent;
  color: #919ba4;
}

.navbar-default .navbar-form .input-group.focus .form-control,
.navbar-default .navbar-form .input-group.focus .input-group-btn .btn,
.navbar-default .navbar-form .input-group.focus .select2-search input[type="text"] {
  border-color: #8056e2;
  color: #8056e2;
}

.navbar-default .navbar-text {
  color: #000000;
}

.navbar-default .navbar-link {
  color: #000000;
}

.navbar-default .navbar-link:hover {
  color: #8056e2;
}

.navbar-default .btn-link {
  color: #000000;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #8056e2;
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
}

.navbar-inverse {
  background-color: #000000;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #8056e2;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:before {
  color: #ffffff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover:before,
.navbar-inverse .navbar-toggle:focus:before {
  color: #8056e2;
}

.navbar-inverse .navbar-collapse {
  border-color: #2f4154;
  border-width: 2px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

/*.navbar-inverse .navbar-nav > li.disabledA > a {
  color: red;
}*/

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #8056e2;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li.disabledA>a:hover {
  color: rgb(185, 15, 15);
  background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #8056e2;
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret,
.navbar-inverse .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #8056e2;
  border-bottom-color: #8056e2;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #8056e2;
  color: #ffffff;
  border-left-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a .caret,
.navbar-inverse .navbar-nav>.open>a:hover .caret,
.navbar-inverse .navbar-nav>.open>a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #4b6075;
  border-bottom-color: #4b6075;
}

.navbar-inverse .navbar-nav>.open>.dropdown-menu {
  background-color: #000000;
  padding: 3px 4px;
}

.navbar-inverse .navbar-nav>.open>.dropdown-menu>li>a {
  color: #e1e4e7;
  border-radius: 4px;
  padding: 6px 9px;
}

.navbar-inverse .navbar-nav>.open>.dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav>.open>.dropdown-menu>li>a:focus {
  color: #ffffff;
  background-color: #8056e2;
}

.navbar-inverse .navbar-nav>.open>.dropdown-menu>li.disabledA>a:hover {
  color: #ffffff;
  background-color: rgb(185, 15, 15);
}


@media (max-width: 767px) {
  .navbar-inverse .navbar-nav>li>a {
    border-left-width: 0;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #8056e2;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #ffffff;
    background-color: #8056e2;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: #444444;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav .dropdown-menu .divider {
    background-color: #2f4154;
  }
}

.navbar-inverse .navbar-form .form-control:focus,
.navbar-inverse .navbar-form .select2-search input[type="text"]:focus {
  border-color: #8056e2;
  color: #8056e2;
}

.navbar-inverse .navbar-form .btn {
  color: #ffffff;
  background-color: #8056e2;
}

.navbar-inverse .navbar-form .btn:hover,
.navbar-inverse .navbar-form .btn.hover,
.navbar-inverse .navbar-form .btn:focus,
.navbar-inverse .navbar-form .btn:active,
.navbar-inverse .navbar-form .btn.active,
.open>.dropdown-toggle.navbar-inverse .navbar-form .btn {
  color: #ffffff;
  background-color: #9E74F1;
  border-color: #9E74F1;
}

.navbar-inverse .navbar-form .btn .badge {
  color: #8056e2;
  background-color: #ffffff;
}

.navbar-inverse .navbar-form .input-group-btn .btn {
  border-color: transparent;
  background-color: #293a4a;
  color: #526a82;
}

.navbar-inverse .navbar-form .input-group.focus .form-control,
.navbar-inverse .navbar-form .input-group.focus .input-group-btn .btn,
.navbar-inverse .navbar-form .input-group.focus .select2-search input[type="text"] {
  border-color: #8056e2;
  color: #8056e2;
}

.navbar-inverse .navbar-text {
  color: #ffffff;
}

.navbar-inverse .navbar-text a {
  color: #ffffff;
}

.navbar-inverse .navbar-text a:hover,
.navbar-inverse .navbar-text a:focus {
  color: #8056e2;
}

.navbar-inverse .navbar-btn {
  color: #ffffff;
  background-color: #8056e2;
}

.navbar-inverse .navbar-btn:hover,
.navbar-inverse .navbar-btn.hover,
.navbar-inverse .navbar-btn:focus,
.navbar-inverse .navbar-btn:active,
.navbar-inverse .navbar-btn.active,
.open>.dropdown-toggle.navbar-inverse .navbar-btn {
  color: #ffffff;
  background-color: #9E74F1;
  border-color: #9E74F1;
}

.navbar-inverse .navbar-btn .badge {
  color: #8056e2;
  background-color: #ffffff;
}